/* Estilos generales */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
  /* Header */
  /* Estilo visual personalizado navbar */
  /* Banner */
  /* Responsiveness */
  /* Secciones */
  /* Servicios */
  /* Formulario de Contacto */
  /* Footer */
  /* Responsiveness */
}
body #header {
  padding: 1em 0;
}
body #header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
  flex: 1;
}
body #header .inner .logo {
  font-size: 1.5em;
  text-decoration: none;
  color: #fafafa;
}
body #header #nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
body #header #nav a {
  text-decoration: none;
  margin-right: 1em;
  transition: color 0.3s;
  color: #fafafa;
}
body #header #nav a:hover {
  color: #0d2033;
}
body .navbar {
  background-color: #486B46;
}
body .navbar a {
  color: #fafafa;
}
body .navbar .btn-outline-success {
  color: #fafafa;
  border-color: #fafafa;
}
body .navbar .btn-outline-success:hover {
  background-color: #fafafa !important;
  color: #198754 !important;
}
body #banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: left;
  padding: 2em 2.5em;
}
body #banner h1 {
  font-size: 2.5em;
  margin: 0;
}
@media screen and (max-width: 768px) {
  body #banner {
    padding: 2em 1em;
  }
  body #header .inner {
    margin: 0;
    padding: 0 2%;
  }
  body section {
    padding: 2em 5%;
  }
}
body section {
  padding: 3em 5%;
  margin: 1em 0;
  flex: 1;
}
body #services .card {
  border: 1px solid #ccc;
}
body form {
  max-width: 600px;
  margin: 0 auto;
}
body form .form-group {
  margin-bottom: 20px;
}
body form .form-group .form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s;
}
body form .form-group .form-control:focus {
  border-color: #486B46;
}
body form .form-group textarea.form-control {
  resize: vertical;
}
body form .form-group button.btn {
  background-color: #486B46;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
body form .form-group button.btn:hover {
  background-color: #486B46;
}
body .pie-pagina {
  width: 100%;
  background-color: #486B46;
}
body .pie-pagina .grupo-1 {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 35px 0px;
  background-color: #486B46;
}
body .pie-pagina .grupo-1 .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
body .pie-pagina .grupo-1 .box figure img {
  width: 250px;
}
body .pie-pagina .grupo-1 .box h2 {
  margin-bottom: 25px;
  font-size: 20px;
  color: #fafafa;
}
body .pie-pagina .grupo-1 .box p {
  margin-bottom: 10px;
  color: #fafafa;
}
body .pie-pagina .grupo-1 .box .red-social a {
  color: #fafafa;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}
body .pie-pagina .grupo-1 .box .red-social a:hover {
  color: #AEB896;
}
body .pie-pagina .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
body .pie-pagina .grupo-2 small {
  font-size: 15px;
}
@media screen and (max-width: 800px) {
  body .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}

/*# sourceMappingURL=style.css.map */
